*{
  box-sizing: border-box;
}

.table{
  background: #00A055;
  padding: 0 4em;
  border: 2px solid black;
}
.hand{
  height: 180px;
  border: 2px solid yellow;
  border-radius: 20px;
}
.console{
  display: flex;
}
.console *{
  display: inline-block;
}
.bet *{
  display: block;
  width: 40px;
}
.textOut{
  text-align: center;
  display: block;
}
.pot{
  text-align: center;
  display: block;
}

.deck, .hold{
  height: 100px;
  width: 100px;
  border: blue solid;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  padding: 33px 0px;
  text-align: center;
  box-shadow: 3px 3px 5px 6px #006d3c;
}
.deck:active, .hold:active{
  box-shadow: none;
}
.deck{
  background: blue;
  border: yellow dashed 8px;
  color: yellow;
}
.hold{
  background: yellow;
  border: red dashed 8px;
}

.bet{
  display: inline-block;
  width: 50px;
  margin: 0 10px;
}
button {
  display: block;
  margin: 5px;
}
.card{
  display: inline-block;
  background: #fff;
  border-radius: 25%;
  border: black solid 1px;
  height: 100px;
  width: 75px;
  font-size: 35px;
  padding: 10px 0 0 10px;

}
.red{
  color: red;
}
.hide{
  color: white;
}
