*{
  box-sizing: border-box;
}

.table{
  background: #095;
  padding: 4em;
  border: 2px solid black
}
.hand{
  height: 180px;
}
.console{
  display: flex;
}
.console *{
  display: inline-block;
}
.bet *{
  display: block;
}
.textOut{
  text-align: center;
  display: block;
}
.pot{
  text-align: center;
  display: block;
}

.deck, .hold{
  height: 100px;
  width: 100px;
  border: blue solid;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
  padding: 33px 0px;
  text-align: center;
}
.deck{
  background: blue;
  border: yellow dashed 8px;
  color: yellow;
}
.hold{
  background: yellow;
  border: red dashed 8px;
}

.bet{
  display: inline-block;
}
button {
  display: block;
  margin: 5px;
}
.card{
  display: inline-block;
  background: #fff;
  border-radius: 25%;
  border: black solid 1px;
  height: 100px;
  width: 75px;
  font-size: 35px;
  .padding: 1em;
}
.hide{
  color: white;
}
